body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 12px;
  line-height: 18px;
  width: 100vw;
  height: 100vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

section.text {
  margin-top: 20px !important;
  margin-bottom: 50px !important;
  display: flex;
  flex-direction: row;
  justify-items: space-evenly;
  max-width: 90vw;
  margin: 0 auto;
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
}

.column-right {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.block {
  text-align: left;
  padding: 10px;
  max-width: 50vw;
}

a {
 color: white;
 text-decoration: none; 
}

a:hover {
  cursor: pointer;
}

