body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 1rem;
  line-height: 1.3;
  overflow: scroll;  
}

#unity-canvas {
  margin-top: 30px;
}

#loading-placeholder {
  z-index: 1;
  position: relative;
  font-size: 3rem;
  top: 40vh;
  font-weight: lighter;
  animation: loading 2s infinite ease-in-out;
}

#fallback-placeholder {
  z-index: 1;
  position: relative;
  font-size: 2.5rem;
  top: 35vh;
  font-weight: normal;
}

@keyframes loading {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

section.text {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  width: 35vw;
}

.column-right {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  width: 35vw;
}

.block {
  text-align: left;
  padding: 10px;
}

.block > * {
  max-width: 30vw;
}

a {
 color: white;
 text-decoration: underline; 
}

a:hover {
  cursor: pointer;
}

